.header {
    width: 100%;
    font-family: jejugothicregular;
    display: inline-block;
    text-align: center;
    background: white;
}

.button {
    width: min(10%, 60px);
    height: 10%;
    padding:10px;
    z-index:500;
}

#video_feed {
    width: 88vw;
    height: 80vh;
}

.display {
    border: 3px solid black;
    background-color: black;
    padding: 10px;
    text-align:center;
}

.type_header {
    color: #009C4D;
    background-color: white;
    text-align: center;
    display: inline-block;
    font-family: 'jejugothicregular';
    padding: 10px;
    font-size:min(60px, 9vw);
}
.popup {
    text-align: center;
    font-family: jejugothicregular;
    font-size: min(40px, 4vw);
    background-color: white;
    color: black;
    border-radius: 12px;
    display: none;
    opacity: 100%;
    z-index: 0;

    padding:10px;
    animation-name: fadein;
    animation-duration: 1s;
}

.checkbox_menu {
    /* display:inline-block; */
    width: 100%;
    display: none;
    background-color: grey;
    border-radius: 7px;
}


.grid_display {
    /* display:inline-block; */
    overflow:scroll;
    height:80vh;
    padding:10px;
    text-align:center;
    /* width: 66%; */
}

.cell_outer {
    display:inline-block;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.cell {
    width: 100%;
    height: 100%;
    border-radius: 12px;

    animation-name:sizein;
    animation-duration: 1s;
}

.cell_no-animate {
    width: 40%;
    height: auto;
    display: block;
    margin: 0px auto;
    border-radius: 12px;
    padding-top: 20px;
}

.cell_ind {
    border-radius: 10px;
    padding: 6px;
    background-color: deeppink;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.padding_m {
    display: block;
    padding: 3px;
}

@keyframes sizein {
    0% {
        width:0%;
        height:0%;
    }

    100% {
        width:100%;
        height:100%;
    }
}

#tooltip {
    animation-name: fadein;
    animation-duration: 3s;
}

#captured_out {
    display:none;
}

@keyframes fadein {
    0% {
        opacity:0%;
    }

    100% {
        opacity:100%;
    }
}

.button_overlay {
    position: fixed;
    right: 5vw;
    top: 85vh;
    width: 60px;
    height: 60px;
    z-index: 500;
}

#capture_image_menu {
    position: fixed;
    right: 5vw;
    top: 65vh;
    width: 60px;
    height: 60px;
    animation-name: pullout;
    animation-duration: 1s;
    animation-play-state: paused;
}

#upload_image_menu {
    position: fixed;
    right: 5vw;
    top: 75vh;
    width: 60px;
    height: 60px;
    animation-name: topout;
    animation-duration: 1s;
    animation-play-state: paused;

}

body {
  margin: 0;
  background: #C4B499;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.login {
  background: #fff5ea;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  height: auto;
  margin: 0px auto;
  color: #00664b;
}

h3 {
  color: #C18B69;
  font-size: 15px;
  font-weight: 300;
  display: inline;
}

.form {
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

form {
  text-align: center;
}

.login-btn {
  padding: 10px 67px 10px 67px;
  background: #feedcd;
  font-weight: 500;
  color: #003829;
}

.register {
  color: #C18B69;
  display: inline;
  font-size: 15px;
}

.grid_info {
  width: 40%;
  margin: 0px auto;
  display: block;
}

.info_main {
  display: block;
  margin: 0px auto;
  width: 40%;
}

.plant_display {
  color: #003829;
  font-weight: 500;
  padding: 5px;
  line-height: 1.5;
}

@keyframes pullout {
    0% {
        right:5vw;
        top:85vh;
    }

    100% {
        right:5vw;
        top:65vh;
    }
}

@keyframes topout {
    0% {
        right: 5vw;
        top: 85vh;
    }

    100% {
        right: 5vw;
        top: 75vh;
    }
}

.upload_overlay {
    width: 92vw;
    right: 4vw;
    top: 12vh;

    border:2px solid black;
    border-radius:12px;
    background-color: white;
    position: fixed;
    z-index:400;
}

#overlay {
    display: none;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 27, 2022 */

@font-face {
    font-family: 'jejugothicregular';
    src: url('jejugothic-regular-webfont.woff2') format('woff2'),
         url('jejugothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on July 12, 2022 */

@font-face {
    font-family: 'montserratthin';
    src: url('montserrat-variablefont_wght-webfont.woff2') format('woff2'), url('montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
